h1{
  color: red;
  text-align: center;
}
h2{
  color: blue;
  text-align: center;
}
.one{
  color: aqua;
}
.two{
  color: red;
}
.three{
  color: green;}
h3{
  color: black;
  text-align: center;
}
.four{
  color: blue;
}
h4{
  color: aquamarine;
  text-align: center;
}
.btn{
  background-color: aquamarine;
  padding: 10px 15px;
  margin-right: 15px;
h5{
  color: blueviolet;
  text-align: center;
}